In [31]:
import pandas as pd
from pathlib import Path

DATA_PATH = 'data/Dados Elipse PSL - Atualizados.xlsx'

In [43]:
df = pd.read_excel(DATA_PATH, header=1)
df.sort_values('DATA/HORA', inplace=True)
df.head()

,DATA/HORA,VAZÃO ENTRADA (L/S),NÍVEL RESERVATÓRIO (%),PRESSÃO (mca),GMB 1 (10 OFF/ 90 ON),GMB 2(10 OFF/ 90 ON)
0,2023-03-17 11:27:06,68.59,29.86,38.20,10,90
1,2023-03-17 12:28:56,66.05,35.86,38.20,10,90
2,2023-03-17 12:31:26,65.64,36.16,38.06,10,90
3,2023-03-17 12:33:56,65.64,36.50,38.03,10,90
4,2023-03-17 12:36:26,65.64,36.80,38.17,10,90

In [44]:
df.isnull().sum()

DATA/HORA                 0
VAZÃO ENTRADA (L/S)       0
NÍVEL RESERVATÓRIO (%)    0
PRESSÃO (mca)             0
GMB 1 (10 OFF/ 90 ON)     0
GMB 2(10 OFF/ 90 ON)      0
dtype: int64

In [33]:
# df = df[:1000]
# df.to_csv('data/1000_Dados.csv', index=False)

In [34]:
# change the values of GMB 1 and GMB 2 to 0 and 1
df['GMB 1 (10 OFF/ 90 ON)'] = df['GMB 1 (10 OFF/ 90 ON)'].replace(10, 0).replace(90, 1)
df['GMB 2(10 OFF/ 90 ON)'] = df['GMB 2(10 OFF/ 90 ON)'].replace(10, 0).replace(90, 1)

df = df.rename(columns={'DATA/HORA': 'timestamp',
                        'VAZÃO ENTRADA (L/S)': 'flow_in',
                        'NÍVEL RESERVATÓRIO (%)': 'reservatory_percentage',
                        'GMB 1 (10 OFF/ 90 ON)': 'gmb_1',
                        'GMB 2(10 OFF/ 90 ON)': 'gmb_2',
                        'PRESSÃO (mca)': 'pressure',
                          })

df.head()

            timestamp  flow_in  reservatory_percentage  pressure  gmb_1  gmb_2
0 2023-03-17 11:27:06    68.59                   29.86     38.20      0      1
1 2023-03-17 12:28:56    66.05                   35.86     38.20      0      1
2 2023-03-17 12:31:26    65.64                   36.16     38.06      0      1
3 2023-03-17 12:33:56    65.64                   36.50     38.03      0      1
4 2023-03-17 12:36:26    65.64                   36.80     38.17      0      1

In [42]:
df['volume'] = (df['reservatory_percentage'] / 100) * 1000000
df['volume_diff'] = df['volume'].diff()
df['time_diff'] = df['timestamp'].diff().dt.total_seconds()
df['flow_out'] = -df['volume_diff'] / df['time_diff'] + df['flow_in']

df.head()

,timestamp,flow_in,reservatory_percentage,pressure,gmb_1,gmb_2,volume,volume_diff,time_diff,flow_out
0,2023-03-17 11:27:06,68.59,29.86,38.20,0,1,298600.0,NaN,NaN,NaN
1,2023-03-17 12:28:56,66.05,35.86,38.20,0,1,358600.0,60000.0,3710.0,49.877493
2,2023-03-17 12:31:26,65.64,36.16,38.06,0,1,361600.0,3000.0,150.0,45.640000
3,2023-03-17 12:33:56,65.64,36.50,38.03,0,1,365000.0,3400.0,150.0,42.973333
4,2023-03-17 12:36:26,65.64,36.80,38.17,0,1,368000.0,3000.0,150.0,45.640000