In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("data/original_data/water_consumption.parquet")
df.head()

,DATA/HORA,VAZÃO ENTRADA (L/S),NÍVEL RESERVATÓRIO (%),PRESSÃO (mca),GMB 1 (10 OFF/ 90 ON),GMB 2(10 OFF/ 90 ON)
0,2023-03-17 11:27:06,68.59,29.86,38.20,10,90
1,2023-03-17 12:28:56,66.05,35.86,38.20,10,90
2,2023-03-17 12:31:26,65.64,36.16,38.06,10,90
3,2023-03-17 12:33:56,65.64,36.50,38.03,10,90
4,2023-03-17 12:36:26,65.64,36.80,38.17,10,90

In [3]:
df["GMB 1 (10 OFF/ 90 ON)"] = df["GMB 1 (10 OFF/ 90 ON)"].replace(10, 0).replace(90, 1)
df["GMB 2(10 OFF/ 90 ON)"]  = df["GMB 2(10 OFF/ 90 ON)"].replace(10, 0).replace(90, 1)
df.rename(columns={
    "GMB 1 (10 OFF/ 90 ON)": "gmb_1_is_on", 
    "GMB 2(10 OFF/ 90 ON)": "gmb_2_is_on", 
    "PRESSÃO (mca)": "pressure_(mca)",
    "VAZÃO ENTRADA (L/S)" :"flow_in_(l/s)",
    "NÍVEL RESERVATÓRIO (%)": "reservoir_level_(%)",
    "DATA/HORA": "timestamp",
    }, inplace=True)

df.head()

,timestamp,flow_in_(l/s),reservoir_level_(%),pressure_(mca),gmb_1_is_on,gmb_2_is_on
0,2023-03-17 11:27:06,68.59,29.86,38.20,0,1
1,2023-03-17 12:28:56,66.05,35.86,38.20,0,1
2,2023-03-17 12:31:26,65.64,36.16,38.06,0,1
3,2023-03-17 12:33:56,65.64,36.50,38.03,0,1
4,2023-03-17 12:36:26,65.64,36.80,38.17,0,1

In [4]:
df.to_parquet("data/preprocessed_data/water_consumption_cleaned_0.parquet")