In [152]:
import pandas as pd
import numpy as np
from datetime import datetime

In [153]:
DATAPATH2023 = 'data/INMET_S_RS_B807_PORTO ALEGRE- BELEM NOVO_01-01-2023_A_31-12-2023.CSV'
DATAPATH2024 = 'data/INMET_S_RS_B807_PORTO ALEGRE- BELEM NOVO_01-01-2024_A_29-02-2024.CSV'
DATACLEANED =  'data/Data_cleaned.csv'

In [154]:
def preProcess(path):
    df = pd.read_csv(path, delimiter=';', skiprows=8, encoding='latin1', decimal=',')
    df.drop(df.columns[-1], axis=1, inplace=True) # Last column is empty due to ";" at the end of each line
    df['Hora UTC'] = df['Hora UTC'].apply(lambda x: datetime.strptime(x, '%H%M %Z')) 
    df['Data'] = pd.to_datetime(df['Data'], format='%Y/%m/%d')
    df['Hour'] = df['Hora UTC'].dt.hour
    df['Day'] = df['Data'].dt.day
    df['Month'] = df['Data'].dt.month
    df['Year'] = df['Data'].dt.year
    df.drop(columns=['Data', 'Hora UTC'], axis=1, inplace=True)

    return df

In [155]:
df23, df24 = preProcess(DATAPATH2023), preProcess(DATAPATH2024)

In [156]:
df23.head()

,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),...,UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Hour,Day,Month,Year
0,0.0,1011.5,1011.5,1011.2,0.0,26.5,16.3,27.4,26.2,17.8,...,57,54.0,54,65.0,6.2,2.6,0,1,1,2023
1,0.0,1011.8,1011.8,1011.5,0.0,26.6,15.0,26.7,26.2,16.3,...,54,49.0,49,50.0,7.4,2.3,1,1,1,2023
2,0.0,1011.7,1011.8,1011.7,0.0,26.2,14.6,27.0,26.2,15.0,...,49,45.0,49,32.0,6.1,2.4,2,1,1,2023
3,0.0,1011.4,1011.7,1011.4,0.0,24.4,16.6,26.2,24.3,16.6,...,62,49.0,62,5.0,5.8,1.6,3,1,1,2023
4,0.0,1011.2,1011.4,1011.1,0.0,23.1,17.1,24.4,22.6,17.3,...,71,62.0,69,54.0,3.8,1.7,4,1,1,2023

In [157]:
df24.head()

,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),...,UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Hour,Day,Month,Year
0,0.0,1015.9,1015.9,1015.5,0.0,18.8,14.8,20.0,18.8,14.8,...,78,71,78,101,5.3,2.7,0,1,1,2024
1,0.0,1016.5,1016.5,1015.9,0.0,18.2,14.7,19.0,18.1,14.8,...,80,77,80,105,4.1,2.1,1,1,1,2024
2,0.0,1016.4,1016.6,1016.4,0.0,17.8,14.7,18.4,17.8,14.8,...,82,79,82,109,3.2,2.1,2,1,1,2024
3,0.0,1015.8,1016.4,1015.7,0.0,18.5,15.1,18.5,17.7,15.1,...,83,81,81,114,4.0,2.1,3,1,1,2024
4,0.0,1015.4,1015.8,1015.4,0.0,18.6,15.5,18.8,18.2,15.6,...,83,80,82,120,4.3,2.0,4,1,1,2024

In [158]:
df_23_24_concat = pd.concat([df23, df24], axis=0)

In [159]:
df_23_24_concat['Year'].value_counts()

2023    8760
2024    1440
Name: Year, dtype: int64

In [160]:
cleaned_df = pd.read_csv(DATACLEANED)

In [161]:
cleaned_df.head()

,timestamp,flow_in,reservatory_percentage,pressure,gmb_1,gmb_2,volume,volume_diff,time_diff,flow_out
0,2023-03-17 11:27:06,68.59,29.86,38.20,0,1,298600.0,NaN,NaN,NaN
1,2023-03-17 12:28:56,66.05,35.86,38.20,0,1,358600.0,60000.0,3710.0,49.877493
2,2023-03-17 12:31:26,65.64,36.16,38.06,0,1,361600.0,3000.0,150.0,45.640000
3,2023-03-17 12:33:56,65.64,36.50,38.03,0,1,365000.0,3400.0,150.0,42.973333
4,2023-03-17 12:36:26,65.64,36.80,38.17,0,1,368000.0,3000.0,150.0,45.640000

In [162]:
cleaned_df['timestamp'] = pd.to_datetime(cleaned_df['timestamp'], format='%Y-%m-%d %H:%M:%S')
cleaned_df['Hour'] = cleaned_df['timestamp'].dt.hour
cleaned_df['Day'] = cleaned_df['timestamp'].dt.day
cleaned_df['Month'] = cleaned_df['timestamp'].dt.month
cleaned_df['Year'] = cleaned_df['timestamp'].dt.year

In [163]:
cleaned_df.head()

,timestamp,flow_in,reservatory_percentage,pressure,gmb_1,gmb_2,volume,volume_diff,time_diff,flow_out,Hour,Day,Month,Year
0,2023-03-17 11:27:06,68.59,29.86,38.20,0,1,298600.0,NaN,NaN,NaN,11,17,3,2023
1,2023-03-17 12:28:56,66.05,35.86,38.20,0,1,358600.0,60000.0,3710.0,49.877493,12,17,3,2023
2,2023-03-17 12:31:26,65.64,36.16,38.06,0,1,361600.0,3000.0,150.0,45.640000,12,17,3,2023
3,2023-03-17 12:33:56,65.64,36.50,38.03,0,1,365000.0,3400.0,150.0,42.973333,12,17,3,2023
4,2023-03-17 12:36:26,65.64,36.80,38.17,0,1,368000.0,3000.0,150.0,45.640000,12,17,3,2023

In [164]:
merged_df = cleaned_df.merge(df_23_24_concat, on=['Hour', 'Day', 'Year', 'Month'], how='left') 
# There is no temperature data available in some dates for the og data.

In [165]:
merged_df.head()

,timestamp,flow_in,reservatory_percentage,pressure,gmb_1,gmb_2,volume,volume_diff,time_diff,flow_out,...,TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
0,2023-03-17 11:27:06,68.59,29.86,38.20,0,1,298600.0,NaN,NaN,NaN,...,26.0,22.4,22.6,21.1,92.0,81.0,82.0,93.0,1.8,0.4
1,2023-03-17 12:28:56,66.05,35.86,38.20,0,1,358600.0,60000.0,3710.0,49.877493,...,27.9,25.9,22.9,20.8,82.0,66.0,70.0,337.0,2.2,0.8
2,2023-03-17 12:31:26,65.64,36.16,38.06,0,1,361600.0,3000.0,150.0,45.640000,...,27.9,25.9,22.9,20.8,82.0,66.0,70.0,337.0,2.2,0.8
3,2023-03-17 12:33:56,65.64,36.50,38.03,0,1,365000.0,3400.0,150.0,42.973333,...,27.9,25.9,22.9,20.8,82.0,66.0,70.0,337.0,2.2,0.8
4,2023-03-17 12:36:26,65.64,36.80,38.17,0,1,368000.0,3000.0,150.0,45.640000,...,27.9,25.9,22.9,20.8,82.0,66.0,70.0,337.0,2.2,0.8

In [167]:
merged_df.isnull().sum()

timestamp                                                   0
flow_in                                                     0
reservatory_percentage                                      0
pressure                                                    0
gmb_1                                                       0
gmb_2                                                       0
volume                                                      0
volume_diff                                                 1
time_diff                                                   1
flow_out                                                    2
Hour                                                        0
Day                                                         0
Month                                                       0
Year                                                        0
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                         3209
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)    3209
PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)          3209
PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)         3209
RADIACAO GLOBAL (Kj/m²)                                  3209
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)             3209
TEMPERATURA DO PONTO DE ORVALHO (°C)                     3209
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)               3209
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)               3209
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)         3209
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)         3209
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                 3209
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                 3209
UMIDADE RELATIVA DO AR, HORARIA (%)                      3209
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                     3296
VENTO, RAJADA MAXIMA (m/s)                               3332
VENTO, VELOCIDADE HORARIA (m/s)                          3313
dtype: int64

In [168]:
merged_df[['timestamp', 'Year', 'Hour', 'Day', 'Month']].sample(5)

                 timestamp  Year  Hour  Day  Month
80039  2023-10-24 13:17:31  2023    13   24     10
83186  2023-11-20 16:02:15  2023    16   20     11
105122 2024-01-25 16:44:35  2024    16   25      1
30709  2023-05-31 22:01:45  2023    22   31      5
93100  2023-12-12 19:17:32  2023    19   12     12

In [169]:
merged_df.shape

(125073, 31)

In [170]:
cleaned_df.shape

(125073, 14)

In [171]:
df_23_24_concat.shape

(10200, 21)

In [172]:
a = merged_df[merged_df.isnull().any(axis=1)]
a[['timestamp', 'Year', 'Hour', 'Day', 'Month']]

                 timestamp  Year  Hour  Day  Month
0      2023-03-17 11:27:06  2023    11   17      3
1514   2023-03-20 17:06:06  2023    17   20      3
1515   2023-03-20 17:08:36  2023    17   20      3
1516   2023-03-20 17:11:06  2023    17   20      3
1517   2023-03-20 17:13:36  2023    17   20      3
...                    ...   ...   ...  ...    ...
125068 2024-03-11 07:56:32  2024     7   11      3
125069 2024-03-11 08:06:32  2024     8   11      3
125070 2024-03-11 08:14:02  2024     8   11      3
125071 2024-03-11 08:16:32  2024     8   11      3
125072 2024-03-11 08:19:02  2024     8   11      3

[3377 rows x 5 columns]

In [175]:
df_23_24_concat[(df_23_24_concat['Year'] == 2024) & (df_23_24_concat['Month'] == 3) & (df_23_24_concat['Day'] == 11) & (df_23_24_concat['Hour'] ==7)]

Empty DataFrame
Columns: [PRECIPITAÇÃO TOTAL, HORÁRIO (mm), PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB), PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB), PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB), RADIACAO GLOBAL (Kj/m²), TEMPERATURA DO AR - BULBO SECO, HORARIA (°C), TEMPERATURA DO PONTO DE ORVALHO (°C), TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C), TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C), TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C), TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C), UMIDADE REL. MAX. NA HORA ANT. (AUT) (%), UMIDADE REL. MIN. NA HORA ANT. (AUT) (%), UMIDADE RELATIVA DO AR, HORARIA (%), VENTO, DIREÇÃO HORARIA (gr) (° (gr)), VENTO, RAJADA MAXIMA (m/s), VENTO, VELOCIDADE HORARIA (m/s), Hour, Day, Month, Year]
Index: []

[0 rows x 21 columns]