In [2]:
import pandas as pd

In [5]:
df = pd.read_excel('./data/Dados Elipse PSL - Atualizados.xlsx', header=1)

In [11]:
len(df)

125072

In [6]:
df.head()

,DATA/HORA,VAZÃO ENTRADA (L/S),NÍVEL RESERVATÓRIO (%),PRESSÃO (mca),GMB 1 (10 OFF/ 90 ON),GMB 2(10 OFF/ 90 ON)
0,2023-03-17 11:27:06,68.59,29.86,38.20,10,90
1,2023-03-17 12:28:56,66.05,35.86,38.20,10,90
2,2023-03-17 12:31:26,65.64,36.16,38.06,10,90
3,2023-03-17 12:33:56,65.64,36.50,38.03,10,90
4,2023-03-17 12:36:26,65.64,36.80,38.17,10,90

In [9]:
# find duplicated time stamps
df[df.duplicated(subset='DATA/HORA', keep=False)].sort_values(by='DATA/HORA')#

,DATA/HORA,VAZÃO ENTRADA (L/S),NÍVEL RESERVATÓRIO (%),PRESSÃO (mca),GMB 1 (10 OFF/ 90 ON),GMB 2(10 OFF/ 90 ON)
3058,2023-03-29 04:53:08,62.21,66.3,38.37,10,90
3059,2023-03-29 04:53:08,62.21,66.3,38.63,10,90

In [10]:
# drop duplicated time stamps
df = df.drop_duplicates(subset='DATA/HORA', keep='first')